.titulo{
    font-size: xx-large;
    text-align: center;
}
.icono{
    width: 20vw;
}
.paginaT{
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 10%;
}
.parafos{
    text-align: justify;
}
body{
    background-color: #ff730034;
}
.seccion{
    margin: 2vh 0vh;   
    padding: 1vh 0vh;
}